*:not(.fa) {
  font-family: 'Lato', sans-serif; }

video {
  max-width: 480px;
  width: 100%; }

body {
  padding-top: 70px;
  background-color: white; }

.navbar {
  background-color: #fc6158;
  color: white; }

h1, h2 {
  font-weight: 300; }
  h1.centered, h2.centered {
    text-align: center; }

h3, h4, h5, h6 {
  font-weight: 400; }
  h3.centered, h4.centered, h5.centered, h6.centered {
    text-align: center; }

.jumbotron {
  font-weight: 300; }

.navbar-default {
  opacity: 0.96; }
  .navbar-default .navbar-brand {
    font-weight: 300; }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
      color: white; }
  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white; }
    .navbar-default .navbar-nav > li > a .caret, .navbar-default .navbar-nav > li > a:focus .caret, .navbar-default .navbar-nav > li > a:hover .caret {
      color: white; }
  .navbar-default .caret, .navbar-default .caret:focus, .navbar-default .caret:hover {
    color: white; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-default .navbar-toggle:focus {
    background-color: #ff9184; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: white; }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: white;
  color: #000; }

.btn {
  font-weight: 300;
  margin: 2px; }
  .btn.btn-primary {
    background-color: #404040;
    border-color: #333333; }
  .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.open .btn.dropdown-toggle.btn-primary {
    background-color: #393939;
    border-color: #363636; }
  .btn.btn-danger {
    background-color: #fc6158;
    border-color: #c94d46; }
  .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.open .btn.dropdown-toggle.btn-danger {
    background-color: #e2574f;
    border-color: #d6524a; }

.panel.panel-form {
  max-width: 400px;
  width: 100%;
  margin: 0 auto; }

input {
  margin-top: 10px;
  margin-bottom: 10px; }

div.footer {
  margin: 10px auto;
  margin-top: 20px;
  font-size: 10px;
  color: #ff9b8c;
  width: 100%;
  max-width: 400px;
  text-align: center; }

div#mapholder {
  width: 95%;
  max-width: 400px;
  margin-bottom: 15px; }

div.centered, div.panel.panel-infocard {
  max-width: 600px;
  margin: 10px auto;
  width: 100%;
  padding: 15px;
  text-align: center; }
  div.centered > .username, div.panel.panel-infocard > .username {
    font-weight: 400;
    font-size: 16px; }
  div.centered > .message, div.panel.panel-infocard > .message {
    font-weight: 300;
    font-size: 18px; }

textarea, select {
  margin-top: 10px;
  margin-bottom: 10px; }

span.footer {
  text-align: center; }
